{{> layouts/header}}

<h2>여행 생성</h2>

<form action="/trips" method="post">
    <input type="text" name="title" placeholder="여행 이름" required/>
    <input type="date" name="startDate"/>
    <input type="date" name="endDate"/>
    <input type="text" name="description" placeholder="설명"/>
    <button type="submit">저장</button>
</form>

{{> layouts/footer}}